# IMBD 평점이 가장 높은 영화

In [2]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

url = 'https://www.imdb.com/search/title/?groups=top_250&sort=user_rating'
res = requests.get(url)

soup = BeautifulSoup(res.text, 'html.parser')

movies = soup.find_all('div', class_='lister-item mode-advanced')

titles = []
releases = []
ratings = []

for movie in movies:
    title = movie.h3.a.text
    titles.append(title)
    
    release = movie.h3.find('span').findNext('span').text
    releases.append(release)
    
    rating = movie.find('strong').text
    ratings.append(rating)
    
df = pd.DataFrame({'Title': titles,
                   'Release_date': releases,
                   'Rating': ratings})

df.head(20)

                                    Title Release_date Rating
0                                  쇼생크 탈출       (1994)    9.3
1                                  Daeboo       (1972)    9.2
2                                  다크 나이트       (2008)    9.0
3                                 쉰들러 리스트       (1993)    9.0
4                           반지의 제왕: 왕의 귀환       (2003)    9.0
5                   The Godfather Part II       (1974)    9.0
6                             12명의 성난 사람들       (1957)    9.0
7                                   펄프 픽션       (1994)    8.9
8                          반지의 제왕: 반지 원정대       (2001)    8.8
9                                     인셉션       (2010)    8.8
10                                 파이트 클럽       (1999)    8.8
11                                포레스트 검프       (1994)    8.8
12  The Lord of the Rings: The Two Towers       (2002)    8.8
13                                석양의 무법자       (1966)    8.8
14                               Jai Bhim       (2021)    8.8
15                                   매트릭스       (1999)    8.7
16                        뻐꾸기 둥지 위로 날아간 새       (1975)    8.7
17                                 좋은 친구들       (1990)    8.7
18                   스타워즈 에피소드 5 - 제국의 역습       (1980)    8.7
19                                  인터스텔라       (2014)    8.6

# 특정 연도의 프로야구 순위표

In [43]:
while True:
    year = int(input('연도를 선택하세요.: '))
    if 1991 <= year <= 2022:
        break

url = f'https://sports.news.naver.com/kbaseball/record/index?category=kbo&year={year}'
res = requests.get(url)

soup = BeautifulSoup(res.text, 'html.parser')

table = soup.find('tbody', attrs={'id': 'regularTeamRecordList_table'}).find_all('tr')

순위 = []
팀명 = []
경기수 = []
승 = []
패 = []
무 = []
승률 = []
게임차 = []

for t in table:
    rank = t.strong
    순위.append(rank.text)
    
    team = t.find('span').findNext('span')
    팀명.append(team.text)
    
    games = team.findNext('span')
    경기수.append(games.text)
    
    win = games.findNext('span')
    승.append(win.text)
    
    lose = win.findNext('span')
    패.append(lose.text)
    
    draw = lose.findNext('span')
    무.append(draw.text)
    
    rate = draw.findNext('strong')
    승률.append(rate.text)
    
    diff = rate.findNext('span')
    게임차.append(diff.text)

df = pd.DataFrame({'순위': 순위,
                   '팀명': 팀명,
                   '경기수': 경기수,
                   '승': 승,
                   '패': 패,
                   '무': 무,
                   '승률': 승률,
                   '게임차': 게임차})

df

연도를 선택하세요.: 2009

  순위   팀명  경기수   승   패  무     승률   게임차
0  1  KIA  133  81  48  4  0.609   0.0
1  2   SK  133  80  47  6  0.602   0.0
2  3   두산  133  71  60  2  0.534  11.0
3  4   롯데  133  66  67  0  0.496  17.0
4  5   삼성  133  64  69  0  0.481  19.0
5  6   넥센  133  60  72  1  0.451  22.5
6  7   LG  133  54  75  4  0.406  27.0
7  8   한화  133  46  84  3  0.346  35.5